.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0)
}
.owl-carousel .owl-stage-outer.owl-height {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out
}
.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}
.owl-controls .owl-dot,
.owl-controls .owl-nav div {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl-video-play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition-property: scale;
    transition-duration: 100ms;
    transition-timing-function: ease
}
.owl-carousel .owl-video-play-icon:hover {
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3)
}
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}
.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    transition-property: opacity;
    transition-duration: 400ms;
    transition-timing-function: ease
}
.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1
}
.owl-loaded {
    display: block
}
.owl-loading {
    opacity: 0;
    display: block
}
.owl-hidden {
    opacity: 0
}
.owl-carousel .owl-refresh .owl-item {
    display: none
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.owl-carousel.owl-text-select-on .owl-item {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all
}
.owl-carousel .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab
}
.owl-carousel .owl-item img.owl-lazy {
    opacity: 0
}
.owl-carousel .owl-item img {
    opacity: 1;
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition-property: opacity;
    transition-duration: 400ms;
    transition-timing-function: ease
}
.owl-carousel .owl-item .logopan img{
	width:auto;
	max-width:100%;
}
.owl-carousel .owl-stage.backfacefix .owl-item {
    -webkit-backface-visibility: hidden
}
.owl-rtl {
    direction: rtl
}
.owl-rtl .owl-item {
    float: right
}
.no-js .owl-carousel {
    display: block
}
.animated {
    -webkit-animation-duration: 600ms;
    animation-duration: 600ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.owl-animated-in {
    z-index: 0
}
.owl-animated-out {
    z-index: 1
}
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
.owl-nav {
    position: absolute;
    right: 0;
    top:-64px;
    z-index: 2;
	width:100%;
}

.owl-nav .owl-next, .owl-nav .owl-prev {
    border-width:1px;
	border-style:solid;
    float: left;
    font-size: 21px;
    height: 40px;
    line-height: 35px;
    margin-left: 0;
    text-align: center;
    text-decoration: none;
    width: 40px;
    z-index: 2;
}
.bottomSide .owl-nav .owl-next, 
.bottomSide .owl-nav .owl-prev,
.quickLeft .owl-nav .owl-next, 
.quickLeft .owl-nav .owl-prev  {
    font-size: 15px;
    height: 25px;
    line-height: 21px;
    width: 25px;
}
.owl-nav .owl-next{
	float:right;
}
#slideLeft.owl-carousel .owl-item {
    padding: 1px;
}
#slideLeft .innerSlids p,
#slideRight .innerSlids p {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.featured-left .owl-nav,
.testimonialLeft .owl-nav,
.blogLeft .owl-nav {
    top: -55px;
    width: 60px;
}
.featured-left .owl-nav .owl-next, 
.featured-left .owl-nav .owl-prev,
.testimonialLeft .owl-nav .owl-next, 
.testimonialLeft .owl-nav .owl-prev,
.blogLeft .owl-nav .owl-next, 
.blogLeft .owl-nav .owl-prev   {
    height: 20px;
    line-height: 15px;
    width: 20px;
    border: none;
}
.featured-left .jcarousel-wrapper,
.testimonialLeft .jcarousel-wrapper,
.blogLeft .jcarousel-wrapper{
	margin-top:20px;
}
