<?xml version="1.0"?>
<config>
    <modules>
        <Mdl_CatalogCategorySearch>
            <version>1.0.0</version>
        </Mdl_CatalogCategorySearch>
    </modules>
    <global>
        <blocks>
            <catalogcategorysearch>
                <class>Mdl_CatalogCategorySearch_Block</class>
            </catalogcategorysearch>
        </blocks>
        <helpers>
            <catalogcategorysearch>
                <class>Mdl_CatalogCategorySearch_Helper</class>
            </catalogcategorysearch>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Mdl_CatalogCategorySearch>
                     <files>
                          <default>Mdl_CatalogCategorySearch.csv</default>
                     </files>
                </Mdl_CatalogCategorySearch>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Mdl_CatalogCategorySearch>
                     <files>
                          <default>Mdl_CatalogCategorySearch.csv</default>
                     </files>
                </Mdl_CatalogCategorySearch>
            </modules>
        </translate>
        <layout>
            <updates>
                <catalogcategorysearch>
                    <file>catalogcategorysearch.xml</file>
                </catalogcategorysearch>
            </updates>
        </layout>
    </frontend>
	<default>
        <mdloption>
            <catalog_category_search>
                <enable_categories>1</enable_categories>
                <show_subcategories>1</show_subcategories>
            </catalog_category_search>
        </mdloption>
    </default>
</config>
