<?xml version="1.0"?>
<config>
	<modules>
	   <Mdl_Brand>
		  <version>0.1.0</version>
		</Mdl_Brand>
	</modules>
    <frontend>
		<routers>
			<brand>
				<use>standard</use>
				<args>
					<module>Mdl_Brand</module>
					<frontName>brands</frontName>
                </args>
		    </brand>
        </routers>
		<layout>
			<updates>
				<brand>
					<file>mdlbrand/brand.xml</file>
				</brand>
			</updates>
		</layout>
     </frontend>
     <global>
		<events>
			<brand_save_before>
				<observers>
                    <mdl_brand_observer>
                        <type>singleton</type>
						<class>Mdl_Brand_Model_Observer</class>
                        <method>saveAttributeBrandOptions</method>
                    </mdl_brand_observer>
                </observers>
            </brand_save_before>
			<!-- New ADDED-->
			<brand_delete_before>
				<observers>
                    <mdl_brand_observer>
                        <type>singleton</type>
						<class>Mdl_Brand_Model_Observer</class>
                        <method>DeleteAttributeBrandOptions</method>
                    </mdl_brand_observer>
                </observers>	
			</brand_delete_before>
			<!-- New ADDED-->
		</events>
		<helpers>
			<brand>
				<class>Mdl_Brand_Helper</class>
			</brand>
		</helpers>
	    <blocks>
			<brand>
				<class>Mdl_Brand_Block</class>
			</brand>
	    </blocks>
	    <models>
			<brand>
				<class>Mdl_Brand_Model</class>
		        <resourceModel>brand_mysql4</resourceModel>
	        </brand>
	        <brand_mysql4>
				<class>Mdl_Brand_Model_Mysql4</class>
				<entities>		  
					<brand>
						<table>mdl_brand</table>
					</brand>
				</entities>
			</brand_mysql4>
		</models>
	    <resources>
		   <brand_setup>
			  <setup>
				  <module>Mdl_Brand</module>
			  </setup>
		      <connection>
				  <use>core_setup</use>
		      </connection>
		  </brand_setup>
	      <brand_write>
			  <connection>
				  <use>core_write</use>
			  </connection>
		  </brand_write>
	      <brand_read>
			  <connection>
				  <use>core_read</use>
			  </connection>
		  </brand_read>
		</resources>
	</global>
	 <!---Admin-->
    <admin>
		<routers>
			<admin_brand>
				<use>admin</use>
				<args>
					<module>Mdl_Brand</module>
					<frontName>admin_brand</frontName>
				</args>
			</admin_brand>
		</routers>
	</admin>
   <adminhtml>
	  <layout>
		 <updates>
			<brand>
				<file>mdlbrand/brand.xml</file>
			</brand>
		 </updates>
	  </layout>
	</adminhtml>
    <default>
        <brand>
		    <general> 
			    <enable>0</enable>
				<sort_by>brand_position</sort_by>
		    </general>
            <frontend>
				<brandTitle>Our Brands</brandTitle>
				<col_brands>8</col_brands>
				<show_first_row>5</show_first_row>
				<show_options>image_only</show_options>
				<slider_auto_play>1</slider_auto_play>
				<brand_image_height>300</brand_image_height>
				<brand_image_width>300</brand_image_width>
				<brand_thumb_image_height>150</brand_thumb_image_height>
				<brand_thumb_image_width>150</brand_thumb_image_width>
				<show_brand_name>0</show_brand_name>
			</frontend>
			<sidebar>
				<no_of_brands>5</no_of_brands>
			</sidebar>
		</brand>
    </default>
</config> 