<?xml version="1.0"?>
<config>
    <modules>
        <Mdl_Bestseller>
            <version>0.1.7</version>
        </Mdl_Bestseller>
    </modules>
    <frontend>
		<routers>
            <bestseller>
                <use>standard</use>
                <args>
                    <module>Mdl_Bestseller</module>
                    <frontName>bestseller</frontName>
                </args>
            </bestseller>
        </routers>
      <layout>
            <updates>
                <bestsellingproduct>
                    <file>mdl-bestseller.xml</file>
                </bestsellingproduct>
            </updates>
        </layout>		
    </frontend>

    <global>
        <blocks>			
            <bestseller>
                <class>Mdl_Bestseller_Block</class>
            </bestseller>				
        </blocks>
        <helpers>
            <bestsellingproduct>
                <class>Mdl_Bestseller_Helper</class>
            </bestsellingproduct>
        </helpers>
		<models>
			<bestseller>
			  <class>Mdl_Bestseller_Model</class>
			</bestseller>
		</models>
		<resources>
            <bestseller_setup>
                <setup>
                    <module>Mdl_Bestseller</module>
					<class>Mdl_Bestseller_Model_Resource_Eav_Mysql4_Setup</class> 
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bestseller_setup>
            <bestseller_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bestseller_write>
            <bestseller_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bestseller_read>
        </resources>
    </global>
	
	<default>
        <bestsellingproduct>
			<jqueryfile>                
                <enable>1</enable> 	
				<itemviewbox_quick_view>1</itemviewbox_quick_view>
				<rowPro>3</rowPro>
				<flip_view>1</flip_view>
				<flip_view_style>1</flip_view_style>
				<itemviewbox>1</itemviewbox>				
            </jqueryfile>	
			
            <bestselling>                
                <bestselling_filter>1</bestselling_filter>                                
				<bestselling_status>1</bestselling_status>
				<bestselling_noproduct>4</bestselling_noproduct>				
            </bestselling>
			
			<newproduct>
				<newproduct_status>1</newproduct_status>
				<newproduct_filter>1</newproduct_filter>
				<newproduct_noproduct>4</newproduct_noproduct>
			</newproduct>
			
			<mostviewed>
				<mostviewed_status>1</mostviewed_status>
				<mostviewed_noproduct>4</mostviewed_noproduct>			
			</mostviewed>				
        </bestsellingproduct>
    </default>
</config>