<?xml version="1.0"?>
<config>
	<modules>
		<Mdl_Mdlnavi>
			<version>1.1.2</version>
		</Mdl_Mdlnavi>
	</modules>
	<frontend>
		<layout>
			<updates>
				<mdlmdlnavi>
					<file>mdl/mdlnavi.xml</file>
				</mdlmdlnavi>
			</updates>
		</layout>
		<translate>
			<modules>
				<Mdl_Mdlnavi>
					<files>
						<default>Mdl_Mdlnavi.csv</default>
					</files>
				</Mdl_Mdlnavi>
			</modules>
		</translate>
	</frontend>
	<global>
		<blocks>
			<mdlmdlnavi>
				<class>Mdl_Mdlnavi_Block</class>
			</mdlmdlnavi>
		</blocks>
		<helpers>
			<mdlmdlnavi>
				<class>Mdl_Mdlnavi_Helper</class>
			</mdlmdlnavi>
		</helpers>
		<models>
			<mdlmdlnavi>
				<class>Mdl_Mdlnavi_Model</class>
			</mdlmdlnavi>
		</models>
		<resources>
			<mdlmdlnavi_setup>
				<setup>
					<module>Mdl_Mdlnavi</module>
					<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</mdlmdlnavi_setup>
			<mdlmdlnavi_write>
				<connection>
					<use>core_write</use>
				</connection>
			</mdlmdlnavi_write>
			<mdlmdlnavi_read>
				<connection>
					<use>core_read</use>
				</connection>
			</mdlmdlnavi_read>
		</resources>
	</global>
	 <admin>
        <routers>
            <mdlmdlnavi>
                <use>admin</use>
                <args>
                    <module>Mdl_Mdlnavi</module>
                    <frontName>adminmdlnavi</frontName>
                </args>
            </mdlmdlnavi>
        </routers>
   </admin>
	  <adminhtml>
        <acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <mdlmdlnavi>
                                        <title>MDL mdlmdlnavi Section</title>
                                    </mdlmdlnavi>
									<about_mdlmdlnavi>
                                        <title>MDL mdlmdlnavi Section</title>
                                    </about_mdlmdlnavi>
					            </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
	<layout>
		<updates>
		  <mdlmdlnavi>
				   <file>mdl/mdlnavi.xml</file>
		  </mdlmdlnavi>  
		</updates>
   </layout>
</adminhtml>
	<default>
		<mdlmdlnavi>
			<general>
				<status>1</status>
				<mdltreestructure_enable>1</mdltreestructure_enable>
			</general>
			<navsettings>
				<navoption_home>1</navoption_home>
				<navoption_main>1</navoption_main>
				<nav-fix>1</nav-fix>
				<navleftposhome>1</navleftposhome>
				<navleftposhomecat>1</navleftposhomecat>
			</navsettings>
		</mdlmdlnavi>
	</default>
</config>