<?xml version="1.0"?>
<config>
    <modules>
        <Mdl_Prevnext>
            <version>1.0.0.0</version>
        </Mdl_Prevnext>
    </modules>
    <global>
        <models>
            <mdl_prevnext>
                <class>Mdl_Prevnext_Model</class>
            </mdl_prevnext>
        </models>
        <helpers>
            <mdl_prevnext>
                <class>Mdl_Prevnext_Helper</class>
            </mdl_prevnext>
        </helpers>
        <blocks>
            <mdl_prevnext>
                <class>Mdl_Prevnext_Block</class>
            </mdl_prevnext>
        </blocks>      
    </global>
    <frontend>
        <translate>
            <modules>
                <Mdl_Prevnext>
                    <files>
                        <default>Mdl_Prevnext.csv</default>
                    </files>
                </Mdl_Prevnext>
            </modules>
        </translate>          
        <events>
            <controller_action_postdispatch>
                <observers>
                    <mdl_prevnext_set_filtered_category_product_collection>
                        <class>mdl_prevnext/observer</class>
                        <method>setInchooFilteredCategoryProductCollection</method>
                    </mdl_prevnext_set_filtered_category_product_collection>
                </observers>                
            </controller_action_postdispatch>
        </events>
        <layout>
            <updates>
                <mdl_prevnext>
                    <file>mdl_prevnext.xml</file>
                </mdl_prevnext>
            </updates>
        </layout>        
    </frontend>
</config>