.featuredcategory-adminhtml-index-index .form-list .level0{}
.featuredcategory-adminhtml-index-index .form-list .level1{ display:inline-block; margin-left:14px; }
.featuredcategory-adminhtml-index-index .form-list .level2{ display:inline-block; margin-left:28px; }
.featuredcategory-adminhtml-index-index .form-list .level3{ display:inline-block; margin-left:42px; }
.featuredcategory-adminhtml-index-index .form-list .level4{ display:inline-block; margin-left:56px; }
.featuredcategory-adminhtml-index-index .form-list .level5{ display:inline-block; margin-left:70px; }