<?xml version="1.0"?>
<config>
    <modules>
        <Mdl_Ajaxnav>
            <version>1.0.0</version>
        </Mdl_Ajaxnav>
    </modules>
    <frontend>
        <routers>
            <ajaxnav>
                <use>standard</use>
                <args>
                    <module>Mdl_Ajaxnav</module>
                    <frontName>ajaxnav</frontName>
                </args>
            </ajaxnav>
        </routers>
        <layout>
            <updates>
                <ajaxnav>
                    <file>mdl/ajaxnav.xml</file>
                </ajaxnav>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mdl_Ajaxnav>
                    <files>
                        <default>Mdl_Ajaxnav.csv</default>
                    </files>
                </Mdl_Ajaxnav>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mdl_Ajaxnav>
                    <files>
                        <default>Mdl_Ajaxnav.csv</default>
                    </files>
                </Mdl_Ajaxnav>
            </modules>
        </translate>
    </adminhtml>
    <global> 
        <models>
            <ajaxnav>
                <class>Mdl_Ajaxnav_Model</class>
            </ajaxnav>
        </models>
        <blocks>
            <ajaxnav>
                <class>Mdl_Ajaxnav_Block</class>
            </ajaxnav>
            <catalog>
                <rewrite>
                    <category_view>Mdl_Ajaxnav_Block_Rewrite_RewriteCatalogCategoryView</category_view>
                </rewrite> 
            </catalog> 
            <catalog>
                <rewrite>
                    <layer_view>Mdl_Ajaxnav_Block_Rewrite_RewriteCatalogLayerView</layer_view>
                </rewrite>
            </catalog>          
            <catalogsearch>
                <rewrite>
                    <result>Mdl_Ajaxnav_Block_Rewrite_RewriteCatalogsearchResult</result>
                </rewrite> 
            </catalogsearch>            
        </blocks>
        <helpers>
            <ajaxnav>
                <class>Mdl_Ajaxnav_Helper</class>
            </ajaxnav>
        </helpers>
        <resources>
            <ajaxnav_setup>
                <setup>
                    <module>Mdl_Ajaxnav</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxnav_setup>
            <ajaxnav_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxnav_write>
            <ajaxnav_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxnav_read>
        </resources>
    </global> 
    <default>
        <ajaxnav>
            <ajaxnav>
				<enabled>1</enabled>
                <price_style>slider</price_style>
				<show_swatches>icons</show_swatches>
				<show_states>productlist</show_states>
				<reset_filters>1</reset_filters>
            </ajaxnav>  
        </ajaxnav>
    </default>
</config>