<config>    
    <modules>
        <Mdl_Featuredcategory>
            <version>0.1.6</version>
        </Mdl_Featuredcategory>
    </modules>
	 <global>
        <blocks>
		    <featuredcategory>
			    <class>Mdl_Featuredcategory_Block</class>
			</featuredcategory>
		</blocks>
		<helpers>
            <featuredcategory>
                <class>Mdl_Featuredcategory_Helper</class>
            </featuredcategory>
        </helpers>  
		<models>
            <featuredcategory>
		        <class>Mdl_Featuredcategory_Model</class>
			    <resourceModel>featuredcategory_resource</resourceModel>
		    </featuredcategory>
			<featuredcategory_resource>
                <class>Mdl_Featuredcategory_Model_Resource</class>
			     <entities>
				     <featured>
				         <table>mdl_featured_category</table>
				     </featured>
			     </entities>
		    </featuredcategory_resource> 
	    </models>
		<resources>
            <featuredcategory_setup>
                <setup>
                    <module>Mdl_Featuredcategory</module>
                    <class>Mdl_Featuredcategory_Model_Resource_Setup</class>
                </setup>
            </featuredcategory_setup>
        </resources>		
     </global>
	 <admin>
        <routers>
            <featuredcategory>
                <use>admin</use>
                <args>
                    <module>Mdl_Featuredcategory</module>
                    <frontName>adminfeaturedcategory</frontName>
                </args>
            </featuredcategory>
        </routers>
   </admin>
   <adminhtml>
       <layout>
          <updates>
              <featuredcategory>
                  <file>featuredcategory/featuredcategory.xml</file>
              </featuredcategory>
          </updates>
       </layout>
      
</adminhtml>
    <frontend>
         <routers>
             <featuredcategory>
                 <use>standard</use>
                 <args>
                      <module>Mdl_Featuredcategory</module>
                      <frontName>featuredcategory</frontName>
                 </args>
            </featuredcategory>
        </routers>
		 <layout>
            <updates>
                <featuredcategory>
                    <file>featuredcategory.xml</file>
                </featuredcategory>
            </updates>
        </layout>
     </frontend>
	<default>
		<featuredcategory>
			<general>
				<featuredcatenable>1</featuredcatenable>
				<catHeading>Featured Category</catHeading>
				<featuedCatOptions>1</featuedCatOptions>
			</general>
		</featuredcategory>
	</default> 
</config>