<?xml version="1.0"?>
<config>
    <modules>
        <Magic_Mdlblog>
            <version>1.3.1</version>
        </Magic_Mdlblog>
    </modules>
    <admin>
        <routers>
            <mdlblog_admin>
                <use>admin</use>
                <args>
                    <module>Magic_Mdlblog</module>
                    <frontName>mdlblog_admin</frontName>
                </args>
            </mdlblog_admin>
        </routers>
    </admin>
    <frontend>
        <routers>
            <mdlblog>
                <use>standard</use>
                <args>
                    <module>Magic_Mdlblog</module>
                    <frontName>mdlblog</frontName>
                </args>
            </mdlblog>
        </routers>
        <layout>
            <updates>
                <mdlblog module="Magic_Mdlblog">
                    <file>magic_mdlblog.xml</file>
                </mdlblog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magic_Mdlblog>
                    <files>
                        <default>Magic_Mdlblog.csv</default>
                    </files>
                </Magic_Mdlblog>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Magic_Mdlblog>
                    <files>
                        <default>Magic_Mdlblog.csv</default>
                    </files>
                </Magic_Mdlblog>
            </modules>
        </translate>

        <layout>
            <updates>
                <mdlblog module="Magic_Mdlblog">
                    <file>magic_mdlblog.xml</file>
                </mdlblog>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <mdlblog>
                <class>Magic_Mdlblog_Model</class>
                <resourceModel>mdlblog_mysql4</resourceModel>
            </mdlblog>
            <mdlblog_mysql4>
                <class>Magic_Mdlblog_Model_Mysql4</class>
                <entities>
                    <mdlblog>
                        <table>magic_mdlblog</table>
                    </mdlblog>
                    <post>
                        <table>magic_mdlblog</table>
                    </post>
                    <comment>
                        <table>magic_mdlblog_comment</table>
                    </comment>
                    <cat>
                        <table>magic_mdlblog_cat</table>
                    </cat>
                    <post_cat>
                        <table>magic_mdlblog_post_cat</table>
                    </post_cat>
                    <store>
                        <table>magic_mdlblog_store</table>
                    </store>
                    <cat_store>
                        <table>magic_mdlblog_cat_store</table>
                    </cat_store>
                    <tag>
                        <table>magic_mdlblog_tags</table>
                    </tag>


                    <lblog>
                        <table>mdlblog</table>
                    </lblog>
                    <lpost>
                        <table>mdlblog</table>
                    </lpost>
                    <lcomment>
                        <table>mdlblog_comment</table>
                    </lcomment>
                    <lcat>
                        <table>mdlblog_cat</table>
                    </lcat>
                    <lpost_cat>
                        <table>mdlblog_post_cat</table>
                    </lpost_cat>
                    <lstore>
                        <table>mdlblog_store</table>
                    </lstore>

                    <lcat_store>
                        <table>mdlblog_cat_store</table>
                    </lcat_store>

                </entities>
            </mdlblog_mysql4>
        </models>
        <blocks>
            <mdlblog>
                <class>Magic_Mdlblog_Block</class>
            </mdlblog>
            <rss>
                <rewrite></rewrite>
                <drewrite>
                    <list>Magic_Mdlblog_Block_Rss_List</list>
                </drewrite>
            </rss>
        </blocks>
        <resources>
            <mdlblog_setup>
                <setup>
                    <module>Magic_Mdlblog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mdlblog_setup>
            <mdlblog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mdlblog_write>
            <mdlblog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mdlblog_read>
        </resources>
        <helpers>
            <mdlblog>
                <class>Magic_Mdlblog_Helper</class>
            </mdlblog>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <mdlblog>
                        <type>singleton</type>
                        <class>Magic_Mdlblog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </mdlblog>
                </observers>
            </controller_front_init_routers>
            <controller_action_predispatch>
                <observers>
                    <mdlblog>
                        <type>singleton</type>
                        <class>mdlblog/observer</class>
                        <method>rewriteRssList</method>
                    </mdlblog>
                </observers>
            </controller_action_predispatch>
            <sitemap_add_xml_block_to_the_end>
                <observers>
                    <add_mdlblog_section>
                        <type>singleton</type>
                        <class>mdlblog/observer</class>
                        <method>addBlogSection</method>
                    </add_mdlblog_section>
                </observers>
            </sitemap_add_xml_block_to_the_end>
        </events>
        <template>
            <email>
                <mdlblog_comments_email_template translate="label" module="mdlblog">
                    <label>Comment Submitted</label>
                    <file>magic_mdlblog/comment_submitted.html</file>
                    <type>text</type>
                </mdlblog_comments_email_template>
            </email>
        </template>
    </global>
    <default>
        <mdlblog>
            <mdlblog>
                <enabled>1</enabled>
                <title>Blog</title>
				<layout>page/2columns-right.phtml</layout>
				<carousel>1</carousel>
				<numCount>4</numCount>
				<route>blog</route>
            </mdlblog>
			<bloglist>
                <useshortcontent>1</useshortcontent>
            </bloglist>
            <comments>
				<enabled>1</enabled>
                <page_count>10</page_count>
            </comments>
            <menu>
                <left>2</left>
                <right>2</right>
				<top>1</top>
            </menu>
        </mdlblog>
    </default>
</config>