<?xml version="1.0"?>
<config>
   <sections>
        <mdlpump>
            <groups>
                <item_view>
                    <fields>
                        <ajaxdownslide translate="label">
                            <label>Mdl Ajax Scroll</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ajaxdownslide>
		              </fields>
                </item_view>
            </groups>
        </mdlpump>
    </sections>
</config>
