html { font-size: 14px; }
.teal-txt { color: @secondary_color; }
.red-txt { color: @main_logo_color; }
.font-light { font-weight: 200; }

//Home Sections
.item-heading { 
	font-size: 18px;
	font-weight: 600;
}
.item-desc {
	font-size: 18px;
	font-weight: 200;
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.section-dividers {
	    border-left: 5px solid #ddd;
	    border-right: 5px solid #ddd;
	    padding: 0 20px;
	}
}


//Icons
.cdz-main-menu .cdz-horizontal-menu li.level0.home-icon > a.menu-link {
  background: transparent;
  height: 40px;
}
.fa-stack.cat-icon {
    width: 16em;
    height: 16em;
    line-height: 16em;
}


//header overrides
.dropdown.switcher-options {
  .cdz-login-form-dropdown {
    display: none;
  }
}
.dropdown.switcher-options.active {
  .cdz-login-form-dropdown {
    display: inline-block;
  }
}

.home-icon {
    width: 50px;
    height: 40px;
    content: "";
    background-size: 50px;
   	position: relative;
    top: 0;
    display: inline-block;
    background-image: url(../images/b-gray-transparent.svg);
    background-repeat: no-repeat;
}


.header-wrapper-content {
	.header.content {
		padding: 0 15px !important;
    position: absolute;
    width: 100%;
	}
}
.header.content {
	text-align: center;
	max-width: 100%;
	.logo {
		float: none;
		display: inline-block;
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.header.content {
		padding: 0 !important;
	}
	.header-wrapper-content.sticky-menu.active .minicart-wrapper .action.showcart:before {
	    background-position: 7px 8px;
	}
}
#opener h1 {
	font-size: 40px;
	font-weight: 200;
}

//layout overrides
.block-static-block.widget, 
.block-cms-link.widget {
    margin-bottom: 0;
}

.page-layout-1column {
	.page-wrapper {
		background: #fff;
	}
	.columns {
	    padding: 20px 0;
	}
}
.page-main-wrapper {
    background: #f2f2f2;
}
.page-main {
	padding: 20px 0;
}
.cms-home .page-main { padding: 0; }
.top-main-wrapper {
	padding: 0;
}

.cms-menu {
	.page-wrapper,
	.page-wrapper .columns {
		background: #f2f2f2;
	}
}


// Search
.block-search input[type="text"] {
	border: none;
}
.block-search .action.search:hover {
	color: #fff;
}


//page titles
.page-title-wrapper {
	background: #fff url(../images/food-banner.jpg);
	background-position: center;
	border-bottom: 1px solid #f2f2f2;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 20px;
	.page-title span {
		background: #fff;
	}
}
.page-title-wrapper.product {
    background: none;
    padding: 0;
    text-align: left;
}

//Vision
.cms-vision {
	.page-title-wrapper {
	    display: table;
	    width: 100%;
	    height: 480px;
	    background: #fff url(../images/vision-banner.jpg) no-repeat center center scroll;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	    border-bottom: none;
	    h1.page-title {
			font-size: 4em;
		    font-weight: 600;
		    padding-top: 100px;
		    max-width: 800px;
		    margin: 0 auto;
		    span {
		    	background: none;
		    }
	    }
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.cms-vision {
		.page-title-wrapper {
		    h1.page-title {
				font-size: 3em;
		    }
		}
	}
}


.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.callout.quote{
    height: 300px;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4em;
    font-weight: 200;
}

.side-by-side h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    font-weight: 200;
    margin-top: 25px;
}


#founder-quote {
	.text-vertical-center h1 {
    	font-size: 24px;
    	font-weight: 200;
    }
    .author {
    	margin-top: 25px;
    	color: #bbb;
    	text-transform: uppercase;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.side-by-side h1 {
	    font-size: 3em;
	    margin-top: 50px;
	}
	#founder-quote {
		.timeline > li .timeline-image {
		    left: 50%;
		    margin-left: -50px;
		}
		.timeline::before {
			display: none;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.side-by-side h1 {
	    font-size: 3em;
	    margin-top: 100px;
	}
}
.sep {
	padding: 100px 0;
}
.sep-bottom {
	margin: 0;
	padding-bottom: 100px;
}
.sep-top {
    margin: 0;
    padding-top: 50px;
}

/*
.page-title-wrapper {
	border-bottom: 1px solid #42464b;
    .page-title{
	    border-bottom: 3px solid #42464b;
	    margin-bottom: 0;
	    display: inline-block;
	}
}
.page-title-wrapper.product {
	border-bottom: none;
    .page-title{
	    border-bottom: none;
	    display: block;
	}
}
*/

// Gift Cards
.product-gift-card {
	.product-info-price {
		margin-top: 35px;
	}
}
.giftcard-fieldset {
	border: none;
	padding: 0;
	.field.input {
		margin-bottom: 15px;
	}
}


// Camp Registration
.product-camp {
	.wrapper-breadcrums,
	.full-slideshow-wrapper .block-static-block p:nth-of-type(1) { display: none; }
	.product.media { 
		display: none; 
		width: 0; 
	}
	.product-info-main { width: 100% !important; }
	.product-add-form .product-options-wrapper .field:not(.date) > .control {
	    width: 100%;
	}
	.fieldset > .field {
		display: inline-block;
	    margin-right: 40px;
	}
	.fieldset > .field.required {
		display: block;
	    margin-right: 0;
	    max-width: 400px;
	}
}















.page-section {
	position: relative;
	width: 90%;
  margin: 0 auto;
	padding: 60px 30px;
	color: inherit;
	overflow: hidden;
	background-color: #fff;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat; 
	font-size: 1.25rem;
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.page-section {
    width: 80%;
		padding: 120px 1rem;
    font-size: 1.5rem;
	}
}

.section-sep.btm {
  padding-bottom: 0 !important; 
}
.section-sep:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  content: '';
  margin: 0 auto;
  border-top: 1px solid;
  border-top-color: #ccc;
  border-top-color: rgba(0, 0, 0, 0.1); 
}


.section-title {
  padding-bottom: 60px;
}

.icon-list {
  text-align: center;
  .icon-item {
    margin-bottom: 30px;
  }
  h3,
  p {
    font-size: 16px;
  }
  h3 {
    font-weight: 700;
  }
  img {
    max-width: 100px;
    margin: 0 auto;
  }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .icon-list {
    text-align: left;
    img {
      max-width: 60px;
    }
  }
}

.stat {
  text-align: left;
  margin: 25px 0;
  .stat-num {
    font-size: 3.5rem;
    line-height: 1;
  }
  .stat-title {
    font-size: 65%;
    letter-spacing: .15em;
    color: #888;
    text-transform: uppercase;
  }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .stat {
    .stat-num {
      font-size: 5.5rem;
    }
  }
}

.btm {
  img {
    vertical-align: bottom;
  }
}

.no-overflow {
  overflow: hidden;
}

.ztop {
  z-index: 10;
}

.zbtm {
  z-index: 1;
  .basket {
    margin-top: -40px;
    margin-left: -440px;
  }
  .lineup {
    margin-top: -40px;
    margin-left: -440px;
  }
  .slant {
    margin-top: -140px;
    margin-left: -440px;
  }
  img {
    max-width: none;
    vertical-align: bottom;
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .zbtm {
    .basket {
      margin-top: 0;
      margin-left: -80px;
    }
    .lineup {
      margin-top: 100px;
      margin-left: -300px;
    }
    .slant {
      margin-top: -220px;
      margin-left: 0;
    }
  }
}



.quote {
  padding: 0;
  margin: 0 auto;
  border-left: 0;
  text-align: center; 
  p {
    font-size: 1.25rem;
    margin-top: 30px; 
  }
  img {
    width: 75px;
    height: 75px; 
    border-radius: 50%;
    border: 5px solid #f2f2f2;
  }
  cite {
    display: block;
    margin-top: 30px;
    font-size: 12px;
    font-style: normal;
    letter-spacing: .15em;
    color: #aaa;
    text-transform: uppercase; 
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .quote {
    max-width: 75%; 
    cite {
      font-size: 14px; 
    }
    img {
      width: 100px;
      height: 100px; 
    }
    p {
      font-size: 1.5rem; 
    } 
  }
}




