<?xml version="1.0"?>
<config>
    <modules>
        <Mdl_Mdltestimonials>
            <version>0.1.0</version>
        </Mdl_Mdltestimonials>
    </modules>
    <frontend>
        <routers>
            <mdltestimonials>
                <use>standard</use>
                <args>
                    <module>Mdl_Mdltestimonials</module>
                    <frontName>mdltestimonials</frontName>
                </args>
            </mdltestimonials>
        </routers>
        <layout>
            <updates>
                <mdltestimonials>
                    <file>mdltestimonials.xml</file>
                </mdltestimonials>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <mdltestimonials>
                <use>admin</use>
                <args>
                    <module>Mdl_Mdltestimonials</module>
                    <frontName>mdltestimonials</frontName>
                </args>
            </mdltestimonials>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mdltestimonials>
                    <file>mdltestimonials.xml</file>
                </mdltestimonials>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <mdltestimonials>
                <class>Mdl_Mdltestimonials_Model</class>
                <resourceModel>mdltestimonials_mysql4</resourceModel>
            </mdltestimonials>
            <mdltestimonials_mysql4>
                <class>Mdl_Mdltestimonials_Model_Mysql4</class>
                <entities>
                    <mdltestimonials>
                        <table>mdltestimonials</table>
                    </mdltestimonials>
                </entities>
            </mdltestimonials_mysql4>
        </models>
        <resources>
            <mdltestimonials_setup>
                <setup>
                    <module>Mdl_Mdltestimonials</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mdltestimonials_setup>
            <mdltestimonials_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mdltestimonials_write>
            <mdltestimonials_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mdltestimonials_read>
        </resources>
        <blocks>
            <mdltestimonials>
                <class>Mdl_Mdltestimonials_Block</class>
            </mdltestimonials>
        </blocks>
        <helpers>
            <mdltestimonials>
                <class>Mdl_Mdltestimonials_Helper</class>
            </mdltestimonials>
        </helpers>
    </global>
    <default>
        <mdltestimonials>
            <general>               
                <mdltestimonialsenabled>1</mdltestimonialsenabled>
				<testimonialstitle>Testimonials</testimonialstitle>
				<mdltestimonialsresizeenabled>1</mdltestimonialsresizeenabled>
				<thumbheight>80</thumbheight>
				<thumbwidth>80</thumbwidth>
				<enableautoslide>1</enableautoslide>        
            </general>       
        </mdltestimonials>
    </default>
</config>